<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <context id="SqlMapDao" default="true">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <daoFactory>
      <dao interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Data" implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Data" />
      <dao interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Data" implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Data" />
    </daoFactory>
  </context>
  <context id="SqlMapDaoSys">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <daoFactory>
      <dao interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Data" implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Data" />
      <dao interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Data" implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Data" />
    </daoFactory>
  </context>
  <context id="SqlMapDaoOp">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <daoFactory>
      <dao interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Data" implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Data" />
      <dao interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Data" implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Data" />
    </daoFactory>
  </context>
  <context id="SqlMapDaoOp2">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <daoFactory>
      <dao interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Data" implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Data" />
      <dao interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Data" implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Data" />
    </daoFactory>
  </context>
  <context id="SqlMapDaoDM">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <daoFactory>
      <dao interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Data" implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Data" />
      <dao interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Data" implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Data" />
    </daoFactory>
  </context>
  <context id="SqlMapDaoLog">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>
    <daoFactory>
      <dao interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Data" implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Data" />
      <dao interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Data" implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Data" />
    </daoFactory>
  </context>
</daoConfig>