<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
    <!--<setting commandTimeout="123"/>-->
  </settings>

  <sqlMaps>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmbulan.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmlevel.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmtahun.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmstatus.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Event.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Notes.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssapp.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssappconfig.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssappmenu.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.SysObjects.xml, CoreNET.Common.Data"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetcols.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetfilters.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetkeys.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetrows.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgettreecols.xml, CoreNET.Common.Ext"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Dmpemda.xml,CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmdok.xml,CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Rpt00datavol.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00app.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appconfigpar.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appkkp.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appmenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appmenuconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appreg.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appregconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appversi.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appversiconfig.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss01appmenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss01appmenuconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss01appmenukkp.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10user.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10userapp.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10usermenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10usertypes.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss11userol.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20group.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20groupconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20groupmenu.xml, CoreNET.Common.Sys"/>
    <!--<sqlMap embedded="Usadi.Valid49.BO.XML.Ss20groupmenuAset.xml, Usadi.Valid49.Aset.Sys"/>-->
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20groupuser.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss90dictionary.xml, CoreNET.Common.Sys"/>

    <!--<sqlMap embedded="CoreNET.BO.XML.Tblrumah.xml, CoreNET.App.SMKK"/>
    <sqlMap embedded="CoreNET.BO.XML.Tblkendaraan.xml, CoreNET.App.SMKK"/>
    <sqlMap embedded="CoreNET.BO.XML.Tblpenduduk.xml, CoreNET.App.SMKK"/>
    <sqlMap embedded="CoreNET.BO.XML.Tblhewan.xml, CoreNET.App.SMKK"/>
    <sqlMap embedded="CoreNET.BO.XML.Tblelektronik.xml, CoreNET.App.SMKK"/>-->


    <sqlMap embedded="Usadi.Valid49.BO.XML.Bulan.xml, Usadi.Valid49.Aset.DM"/>

    <!-- Setting User -->
    <sqlMap embedded="Usadi.Valid49.BO.XML.Webuser.xml, Usadi.Valid49.Aset.Sys"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Webuserskpd.xml, Usadi.Valid49.Aset.Sys"/>

    <!-- Pengaturan -->
    <sqlMap embedded="Usadi.Valid49.BO.XML.Webset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Pemda.xml, Usadi.Valid49.Aset.DM"/>

    <!-- Data -->
    <sqlMap embedded="Usadi.Valid49.BO.XML.Tahap.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Tahun.xml, Usadi.Valid49.Aset.DM"/>

    <!-- Data Master -->
    <sqlMap embedded="Usadi.Valid49.BO.XML.Struunit.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftunit.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Struaset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Strurek.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftaset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftpengguna.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jnskib.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Golongan.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Stdrenov.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Konaset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Matangr.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Matangnrc.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Mpgrm.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Mkegiatan.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Pgrmunit.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kegunit.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Skdask.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daskr.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftphk3.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Satuan.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Satwaktu.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Warna.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Struruang.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftruang.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftdok.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jmilik.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jtrans.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jdana.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jklas.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jkontrak.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jhak.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jfisik.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jusaha.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jbank.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jbukti.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jlokasi.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Stskir.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jnskibaset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Mapbljaset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.MapsusutAset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Mapnrcaset.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Pegawai.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Jabttd.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.RkbmdMpgrm.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.RkbmdMkegiatan.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.RkbmdPgrmunit.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.RkbmdKegunit.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftjabatan.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftlokasi.xml, Usadi.Valid49.Aset.DM"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Daftgudang.xml, Usadi.Valid49.Aset.DM"/>

    <!-- Transaksi -->
    <sqlMap embedded="Usadi.Valid49.BO.XML.Atribusi.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Atribusidet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Atribusidetbrg.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Bapkir.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Bapkirdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Berita.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Beritadetbrg.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Beritadetr.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Hapussk.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Hapusskdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Histrenov.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Histrenovdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invbast.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invnota.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invpenyaluran.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invpenyalurandet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invreal.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invrealdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invretur.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invreturdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invspb.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Invspbdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kemitraan.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kemitraandet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kiba.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibadet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibb.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibbdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibc.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibcdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibd.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibddet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibe.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibedet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibf.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibfdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibg.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibgdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibh.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibhdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibj.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibjdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibkemitraandet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kiblainnyadet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibmutasi.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kibmutasidet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Reklasdetbrg.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Kontrak.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Koreksi.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Koreksidet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Koreksidetspek.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Pengguna.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Penggunadet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Penilaian.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Penilaiandet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Penyusutan.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Penyusutandet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Pindahtangan.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Pindahtangandet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Reklas.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Reklasdet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.RkbmdPemeliharaan.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.RkbmdPengadaan.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Skpengguna.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Skpenggunadet.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Skpenggunadetbrg.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Usulanhapus.xml, Usadi.Valid49.Aset.MAT"/>
    <sqlMap embedded="Usadi.Valid49.BO.XML.Usulanhapusdet.xml, Usadi.Valid49.Aset.MAT"/>
    
  </sqlMaps>
</sqlMapConfig>

