bin
obj
/Project/.vs
/Usadi/Usadi.Valid49.Aset.MAT/obj
/Usadi/Usadi.Valid49.Aset.MAT/bin
/Usadi/Usadi.Valid49.Aset.Sys/bin
/Usadi/Usadi.Valid49.Aset.Sys/obj
/Usadi/Hasil_Build
/Project/WebCMS/web.config
/Project/WebCMS/web.config
Project/WebCMS/Bin/CoreNET.Common.Data.dll
