IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WSP_BACKUPDB]') AND type in (N'P', N'PC'))
BEGIN
	DROP PROCEDURE [dbo].[WSP_BACKUPDB];
END
GO


/*
exec WSP_RESTOREDB 
@RESTOREDB='V@LID49V4_2009_CRB',
@BACKUPDB='F:\SVN_Ibmserver\REGIONAL III\Kab. Cirebon\DataBase\V@LID49V4_2009_CRB',
@MDFLDFPATH = 'E:\MSSQL2008\Data\DBI'
--*/

CREATE PROCEDURE [dbo].[WSP_BACKUPDB] 
(@DBNAME varchar(300), @NMBACKUPDB varchar(300),@LDF VARCHAR (300))
AS 



--BACKUP DATABASE @DBNAME 
----SET @LDF=N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Backup\@DBNAME'
--
--TO  DISK = N'@LDF+@DBNAME'
--WITH NOFORMAT, INIT,  NAME = N'V@LID49V4_2011_TEST-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10

DECLARE @SQLBACKUP NVARCHAR(1000)
SET @SQLBACKUP = '
BACKUP DATABASE ' + @DBNAME + ' TO DISK = ''' + @LDF+@NMBACKUPDB + '''
WITH NOFORMAT, INIT,  NAME = N''V@LID49V4_2011_TEST-Full Database BACKUP'', SKIP, NOREWIND, NOUNLOAD,  STATS = 10'

EXECUTE sp_executesql @SQLBACKUP

GO
