USE [V@LID49ASETV5]
GO
/****** Object:  StoredProcedure [dbo].[KIBA_INSERT]    Script Date: 03/10/2022 07:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[KIBA_INSERT]
(@UNITKEY CHAR(36), @ASETKEY CHAR(15), @TAHUN CHAR(5), @KDPEMILIK CHAR(2), @ASALUSUL VARCHAR(512), @PENGGUNA VARCHAR(254), @KET VARCHAR(4000), @KDHAK VARCHAR(2), 
@LUASTNH VARCHAR(50), @ALAMAT VARCHAR(512), @NOFIKAT VARCHAR(50), @TGFIKAT DATETIME, @KDSATUAN CHAR(2), @NOBA VARCHAR(50), @TGLBA DATETIME, @KDTANS CHAR(3), 
@JUMLAH INT, @NILAI VARCHAR(50), @NILINSERT CHAR(1), @UTARA VARCHAR(200), @TIMUR VARCHAR(200), @SELATAN VARCHAR(200), @BARAT VARCHAR(200), @LOKASI VARCHAR(200))
AS

--------------------------------------------------------------------------------------------------------------------------------------------

-- GET UMEKO
DECLARE @UMEKO DECIMAL
SET @UMEKO = (SELECT ISNULL(UMEKO,0) FROM DAFTASET WHERE ASETKEY = @ASETKEY)

-- SET NOBA
IF (@KDTANS = '000')
BEGIN	
	SET @NOBA = '000/SA/'+RTRIM(YEAR(@TGLBA))+'.'+RTRIM(MONTH(@TGLBA))+'.'+RTRIM(DAY(@TGLBA))
END

-- VALIDASI JUMLAH
IF (@JUMLAH < 1)
BEGIN
	SET @JUMLAH = 1
END

-- PILIHAN NILAI TOTAL ATAU SATUAN
SET @NILAI = REPLACE(@NILAI,',','.')

IF(@NILINSERT = '1')
BEGIN
	SET @NILAI = CAST(@NILAI AS MONEY) / @JUMLAH
END
ELSE IF(@NILINSERT = '2')
BEGIN
	SET @NILAI = @NILAI
END

-- KONVERSI KE DECIMAL
SET @LUASTNH	= REPLACE(@LUASTNH,',','.')

-- GET KDLOKPO, KDBRGPO
DECLARE @KDPEMDA CHAR(6), @KDLOKSATKER CHAR(3), @KDLOKPO VARCHAR(50), @KDBRGPO VARCHAR(50)
SET @KDPEMDA		= (SELECT CONFIGVAL FROM PEMDA WHERE CONFIGID='pemda_kd')
SET @KDLOKSATKER	= (SELECT CASE WHEN LEN(KDUNIT) <= 8 THEN '00.' ELSE SUBSTRING(KDUNIT,9,3) END FROM DAFTUNIT WHERE UNITKEY = @UNITKEY)
SET @KDLOKPO		= (SELECT @KDPEMILIK+'.'+@KDPEMDA+LEFT(KDUNIT,8)+RTRIM(RIGHT(@TAHUN,2))+'.'+@KDLOKSATKER FROM DAFTUNIT WHERE UNITKEY = @UNITKEY)

-- GET MAXIMUM NOMOR REGISTER DAN IDBRG
DECLARE @MAXIDBRG INT, @IDBRG VARCHAR(10), @MAXNOREG INT, @NOREG VARCHAR(10)
SET @MAXNOREG		= (SELECT ISNULL(MAX(CAST((CASE WHEN LEFT(NOREG,1) IN ('0','1','2','3','4','5','6','7','8','9') THEN NOREG ELSE 
							RTRIM(CAST((ASCII(LEFT(NOREG,1))-55) AS CHAR(2)))+RIGHT(RTRIM(CAST(NOREG AS CHAR(10))),5)
							END) AS INT)),0) FROM ASET_KIBADET
					WHERE UNITKEY = @UNITKEY AND ASETKEY = @ASETKEY AND TAHUN = @TAHUN)
SET @MAXIDBRG		= (SELECT ISNULL(MAX(CAST(IDBRG AS INT)),0) FROM ASET_KIB) 

--------------------------------------------------------------------------------------------------------------------------------------------
SET XACT_ABORT ON
BEGIN TRANSACTION

DECLARE @I INT
SET @I = 1

WHILE @I <= @JUMLAH
BEGIN
	SET @IDBRG = @MAXIDBRG+@I
	SET @NOREG = (SELECT dbo.fn_GetNoreg(@MAXNOREG+@I))
	SET @KDBRGPO = (SELECT '01'+'.'+LTRIM(RTRIM(KDASET))+@NOREG FROM DAFTASET WHERE ASETKEY = @ASETKEY)
	
	INSERT INTO ASET_KIB(IDBRG,UNITKEY,ASETKEY,TAHUN,NOREG,DOKPEROLEHAN,TGLPEROLEHAN,URUTBRG,KDKIB,STATUSPENGGUNA)
	SELECT @IDBRG, @UNITKEY, @ASETKEY, @TAHUN, @NOREG, @NOBA, @TGLBA, 1, '01', '1'
	
	INSERT INTO ASET_KIBADET(IDBRG,URUTTRANS,UNITKEY,ASETKEY,TAHUN,NOREG,KDTANS,NODOKUMEN,TGLDOKUMEN,NILAI,UMEKO,KDKIB,
	KET,KDKON,KDKLAS,KDSENSUS,KDSTATUSASET,KDLOKPO,KDBRGPO,THANG)
	SELECT @IDBRG, 1 URUTTRANS, @UNITKEY, @ASETKEY, @TAHUN, @NOREG, @KDTANS, @NOBA, @TGLBA, @NILAI, @UMEKO, '01' KDKIB, 
	@KET, NULL KDKON, '01' KDKLAS, NULL KDSENSUS, '01' KDSTATUSASET, @KDLOKPO, @KDBRGPO, YEAR(@TGLBA) THANG
	
	INSERT INTO ASET_KIBSPESIFIKASI(IDBRG,URUTHIST,UNITKEY,ASETKEY,TAHUN,NOREG,KDKIB,KDPEMILIK,ASALUSUL,PENGGUNA,KET,KDHAK,
		LUASTNH,ALAMAT,NOFIKAT,TGFIKAT,KDSATUAN, UTARA,TIMUR, SELATAN, BARAT, LOKASI)
	SELECT @IDBRG, 1, @UNITKEY, @ASETKEY, @TAHUN, @NOREG, '01', @KDPEMILIK, @ASALUSUL, @PENGGUNA, @KET, @KDHAK, @LUASTNH, @ALAMAT, 
		@NOFIKAT, @TGFIKAT, @KDSATUAN, @UTARA, @TIMUR, @SELATAN, @BARAT, @LOKASI

	SET @I = @I + 1
END

COMMIT TRANSACTION