USE [V@LID49ASETV5]
GO
/****** Object:  StoredProcedure [dbo].[REGISTER_KIBA]    Script Date: 02/10/2022 12:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[REGISTER_KIBA]
(@ASETKEY CHAR(15), @UNITKEY CHAR(36), @KDKIB CHAR(2))
AS

-----------------------------------------------------------------------------------------------------------------------------------------
--DECLARE @ASETKEY CHAR(15), @UNITKEY CHAR(36), @KDKIB CHAR(2)
--SET @ASETKEY = ''
--SET @UNITKEY = '3000301'
--SET @KDKIB = '01'

--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_KIBA%')
--	DROP TABLE #_KIBA
-----------------------------------------------------------------------------------------------------------------------------------------
SELECT A.IDBRG, A.URUTTRANS, A.UNITKEY, A.ASETKEY, A.NILAI, AK.KDKON, AK.KDLOKPO, AK.KDBRGPO, AK.KDKLAS, AK.KDSENSUS, AK.KDSTATUSASET
INTO #_KIBA
FROM (
	SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
	FROM ASET_KIBADET
	WHERE UNITKEY=@UNITKEY AND (ASETKEY=@ASETKEY or isnull(@ASETKEY,'')='') AND KDKIB=@KDKIB
	GROUP BY IDBRG, UNITKEY, ASETKEY
) A
	LEFT JOIN ASET_KIBADET AK ON AK.IDBRG = A.IDBRG AND AK.UNITKEY = A.UNITKEY AND AK.ASETKEY = A.ASETKEY AND AK.URUTTRANS = A.URUTTRANS
WHERE AK.KDSTATUSASET = '01'

SELECT AA.ID, AA.IDBRG, AA.UNITKEY, DU.KDUNIT, DU.NMUNIT, AA.ASETKEY, DA.KDASET, DA.NMASET, A.TGLPEROLEHAN, AA.TAHUN, AA.NOREG, 
	isnull(X.NILAI,0) NILAI, AA.KDPEMILIK, JM.NMPEMILIK, AA.ASALUSUL, AA.PENGGUNA, AA.KDHAK, JH.NMHAK, AA.LUASTNH, AA.NOFIKAT, AA.TGFIKAT, 
	AA.KDSATUAN, S.NMSATUAN, AA.ALAMAT, AA.KET, X.KDLOKPO, X.KDBRGPO, X.KDKLAS, J.URAIKLAS, X.KDSENSUS, X.KDSTATUSASET, X.URUTTRANS, AA.URUTHIST,
	AA.UTARA, AA.BARAT, AA.SELATAN,AA.TIMUR, AA.LOKASI
FROM ASET_KIBSPESIFIKASI AA
LEFT JOIN #_KIBA X ON X.IDBRG = AA.IDBRG AND X.UNITKEY = AA.UNITKEY AND X.ASETKEY = AA.ASETKEY
LEFT JOIN ASET_KIB A ON A.IDBRG = AA.IDBRG
LEFT JOIN DAFTUNIT DU ON DU.UNITKEY = AA.UNITKEY
LEFT JOIN DAFTASET DA ON DA.ASETKEY = AA.ASETKEY
LEFT JOIN JMILIK JM ON JM.KDPEMILIK = AA.KDPEMILIK
LEFT JOIN JHAK JH ON JH.KDHAK = AA.KDHAK
LEFT JOIN SATUAN S ON S.KDSATUAN = AA.KDSATUAN
LEFT JOIN JKLAS J ON J.KDKLAS = X.KDKLAS
WHERE AA.UNITKEY=@UNITKEY AND (AA.ASETKEY=@ASETKEY or isnull(@ASETKEY,'')='') and AA.KDKIB=@KDKIB --and A.STATUSPENGGUNA = '1'
ORDER BY DA.KDASET, AA.TAHUN, AA.NOREG


