USE [V@LID49ASETV5]
GO
/****** Object:  StoredProcedure [dbo].[REGISTER_KIBC]    Script Date: 07/10/2022 21:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[REGISTER_KIBC]
(@ASETKEY CHAR(15), @UNITKEY CHAR(36), @KDKIB CHAR(2))
AS

-----------------------------------------------------------------------------------------------------------------------------------------
--DECLARE @ASETKEY CHAR(15), @UNITKEY CHAR(36), @KDKIB CHAR(2)
--SET @ASETKEY = ''
--SET @UNITKEY = '3000202'
--SET @KDKIB = '03'

--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_KIBC%')
--	DROP TABLE #_KIBC
-----------------------------------------------------------------------------------------------------------------------------------------
SELECT A.IDBRG, A.URUTTRANS, A.UNITKEY, A.ASETKEY, A.NILAI, AK.KDKON, AK.KDLOKPO, AK.KDBRGPO, AK.KDKLAS, AK.KDSENSUS, AK.KDSTATUSASET 
INTO #_KIBC
FROM (
	SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
	FROM ASET_KIBCDET
	WHERE UNITKEY=@UNITKEY AND (ASETKEY=@ASETKEY or isnull(@ASETKEY,'')='') AND KDKIB=@KDKIB
	GROUP BY IDBRG, UNITKEY, ASETKEY
) A
	LEFT JOIN ASET_KIBCDET AK ON AK.IDBRG = A.IDBRG AND AK.UNITKEY = A.UNITKEY AND AK.ASETKEY = A.ASETKEY AND AK.URUTTRANS = A.URUTTRANS
WHERE AK.KDSTATUSASET = '01'

SELECT AA.ID, AA.IDBRG, AA.UNITKEY, DU.KDUNIT, DU.NMUNIT, AA.ASETKEY, DA.KDASET, DA.NMASET, A.TGLPEROLEHAN, AA.TAHUN, AA.NOREG, 
	isnull(X.NILAI,0) NILAI, DA.UMEKO, AA.KDPEMILIK, JM.NMPEMILIK, AA.ASALUSUL, AA.PENGGUNA, X.KDKON, K.NMKON, 
	AA.KDHAK, JH.NMHAK, AA.KDSATUAN, S.NMSATUAN,
    (case when AA.BERTINGKAT='true' then '1' else '0' end) as BERTINGKAT,
    (case when AA.BETON='true' then '1' else '0' end) as BETON,
    AA.LUASLT, AA.NODOKGDG, AA.TGDOKGDG, AA.LUASTNH, AA.NOKDTANAH, AA.ALAMAT, AA.KET, X.KDLOKPO, X.KDBRGPO,
    X.KDKLAS, J.URAIKLAS, X.KDSENSUS, X.KDSTATUSASET, X.URUTTRANS, AA.URUTHIST,
	AA.LOKASI
FROM ASET_KIBSPESIFIKASI AA
left join #_KIBC X ON X.IDBRG = AA.IDBRG AND X.UNITKEY = AA.UNITKEY AND X.ASETKEY = AA.ASETKEY
left join ASET_KIB A ON A.IDBRG = AA.IDBRG
left join DAFTUNIT DU ON DU.UNITKEY = AA.UNITKEY
left join DAFTASET DA ON DA.ASETKEY = AA.ASETKEY
left join JMILIK JM ON JM.KDPEMILIK = AA.KDPEMILIK
left join JHAK JH ON JH.KDHAK = AA.KDHAK
left JOIN KONASET K ON K.KDKON = X.KDKON
left join SATUAN S ON S.KDSATUAN = AA.KDSATUAN
left join JKLAS J ON J.KDKLAS = X.KDKLAS
WHERE AA.UNITKEY=@UNITKEY AND (AA.ASETKEY=@ASETKEY or isnull(@ASETKEY,'')='') and AA.KDKIB=@KDKIB --and A.STATUSPENGGUNA = '1'
ORDER BY DA.KDASET, AA.TAHUN, AA.NOREG



