
GO
/****** Object:  StoredProcedure [dbo].[WSPV_HAPUSSKDET]    Script Date: 02/11/2023 16:39:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[WSPV_HAPUSSKDET]
(@UNITKEY CHAR(36), @NOSKHAPUS VARCHAR(50))
AS

--------------------------------------------------------------------------------------------------------------------------------------------------
--DECLARE @UNITKEY CHAR(36), @NOSKHAPUS VARCHAR(50)
--SET @UNITKEY = '345_'
--SET @NOSKHAPUS='001-test1'

--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_KIB%')
--   DROP TABLE #_KIB

------------------------------------------------------------------------------------------------------------------------------------------------

DECLARE @KDTANS CHAR(3)
SET @KDTANS=ISNULL((SELECT KDTANS FROM ASET_HAPUSSKDET WHERE UNITKEY=@UNITKEY AND NOSKHAPUS=@NOSKHAPUS),'')

CREATE TABLE #_KIB (IDBRG CHAR(10),UNITKEY CHAR(36),NOPINDAHTANGAN VARCHAR(50),KDTANS CHAR(3), 
ASETKEY CHAR(15),NOPENILAIAN VARCHAR(50),URUTTRANS CHAR(10),NILAI MONEY,KDKON CHAR(2),KDKLAS CHAR(2),
KDSTATUSASET CHAR(2))

IF(@KDTANS IN('201'))
BEGIN

INSERT INTO #_KIB
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
--INTO #_KIB
FROM ASET_PINDAHTANGANDET A
INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBADET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBADET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBBDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBBDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBCDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBCDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBDDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBDDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBEDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBEDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBGDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBGDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
END

ELSE
BEGIN
INSERT INTO #_KIB
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBADET GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY --AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBADET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBBDET  GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY --AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBBDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBCDET  GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY --AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBCDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBDDET GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY --AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBDDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBEDET  GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY --AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBEDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
UNION ALL
SELECT A.IDBRG, A.UNITKEY, A.NOPINDAHTANGAN, A.KDTANS, A.ASETKEY, A.NOPENILAIAN, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET
FROM ASET_PINDAHTANGANDET A
INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
            FROM ASET_KIBGDET  GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY --AND X.ASETKEY = B.ASETKEY2
INNER JOIN ASET_KIBGDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY --AND AK.ASETKEY = X.ASETKEY
WHERE A.UNITKEY=@UNITKEY
END

--SELECT * FROM #_KIB

SELECT X.*
FROM (
SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, DA.KDASET, DA.NMASET, AK.TAHUN, AK.NOREG, A.NILAI,
	DA.UMEKO, AK.KDPEMILIK, JM.NMPEMILIK, A.KDKON, K.NMKON, AK.ASALUSUL, AK.PENGGUNA, AK.KDSATUAN, S.NMSATUAN, 
	CASE AK.KDKIB 
	WHEN '03' THEN (case AK.BERTINGKAT WHEN 1 THEN 'Bertingkat' ELSE '' END)+(case AK.BETON WHEN 1 THEN ', Beton' ELSE '' END) 
	WHEN '04' THEN AK.KONSTRUKSI
	WHEN '05' THEN AK.SPESIFIKASI
	WHEN '06' THEN (case AK.BERTINGKAT WHEN 1 THEN 'Bertingkat' ELSE '' END)+(case AK.BETON WHEN 1 THEN ', Beton' ELSE '' END) 
	WHEN '07' THEN AK.SPESIFIKASI
	ELSE AK.MERKTYPE
	END AS SPESIFIKASI, 
	CASE AK.KDKIB 
	WHEN '01' THEN 'Luas tanah: '+CAST(ISNULL(AK.LUASTNH,0) AS VARCHAR)
	WHEN '03' THEN 'Luas tanah: '+CAST(ISNULL(AK.LUASTNH,0) AS VARCHAR)+' '+' Luas lantai: '+CAST(ISNULL(AK.LUASLT,0) AS VARCHAR)
	WHEN '04' THEN 'Panjang: '+CAST(ISNULL(AK.PANJANG,0) AS VARCHAR)+' Lebar: '+CAST(ISNULL(AK.LEBAR,0) AS VARCHAR)+' Luas: '+CAST(ISNULL(AK.LUAS,0) AS VARCHAR)
	WHEN '06' THEN 'Luas lantai: '+CAST(ISNULL(AK.LUASLT,0) AS VARCHAR)
	ELSE AK.UKURAN
	END AS UKURAN,
	AK.BAHAN, 
	CASE AK.KDKIB 
	WHEN '01' THEN AK.NOFIKAT
	WHEN '02' THEN ISNULL(AK.NOPABRIK,'')+' / '+ISNULL(AK.NORANGKA,'')+' / '+ISNULL(AK.NOPOLISI,'')+' / '+ISNULL(AK.NOBPKB,'')+' / '+ISNULL(AK.NOMESIN,'')
	WHEN '03' THEN AK.NODOKGDG
	WHEN '04' THEN AK.NODOKJIJ
	WHEN '06' THEN AK.NODOKKDP
	ELSE NULL 
	END AS NOSERTIFIKAT,
	AK.ALAMAT, AK.KET, A.KDKLAS, JK.URAIKLAS, A.KDSTATUSASET, AK.KDKIB, J.NMKIB, A.KDTANS, JT.NMTRANS, A.NOPINDAHTANGAN
FROM #_KIB A
	LEFT JOIN ASET_PINDAHTANGAN AP ON AP.UNITKEY = A.UNITKEY AND AP.NOPINDAHTANGAN = A.NOPINDAHTANGAN AND AP.KDTANS = A.KDTANS
	LEFT JOIN ASET_KIBSPESIFIKASI AK ON AK.IDBRG = A.IDBRG AND AK.UNITKEY = A.UNITKEY AND AK.ASETKEY = A.ASETKEY
	LEFT JOIN ASET_KIB AKB ON AKB.IDBRG = AK.IDBRG
	LEFT JOIN DAFTASET DA ON DA.ASETKEY = A.ASETKEY
	LEFT JOIN JMILIK JM ON JM.KDPEMILIK = AK.KDPEMILIK
	LEFT JOIN KONASET K ON K.KDKON = A.KDKON
	LEFT JOIN SATUAN S ON S.KDSATUAN = AK.KDSATUAN
	LEFT JOIN JKLAS JK ON JK.KDKLAS = A.KDKLAS
	LEFT JOIN JNSKIB J ON AK.KDKIB = J.KDKIB 
	LEFT JOIN JTRANS JT ON JT.KDTANS = A.KDTANS
WHERE AKB.STATUSPENGGUNA = '1' 
AND YEAR(AP.TGLVALID) = (SELECT CONFIGVAL FROM PEMDA WHERE CONFIGID = 'cur_thang')
) X
-- LOOKUP BARANG YG BELUM MASUK KE HAPUSSKDET
LEFT JOIN ASET_HAPUSSKDET AH ON AH.IDBRG = X.IDBRG AND AH.UNITKEY = X.UNITKEY
WHERE AH.NOSKHAPUS IS NULL