
GO
/****** Object:  StoredProcedure [dbo].[WSPV_PINDAHTANGANDET]    Script Date: 02/11/2023 16:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec [dbo].[WSPV_PINDAHTANGANDET]
--		    @UNITKEY = N'345_                                ',
--		    @KDTANS = N'202',
--		    @KDASET = N'1.3.2.10.'

ALTER PROCEDURE [dbo].[WSPV_PINDAHTANGANDET]
(@UNITKEY char(36), @KDTANS CHAR(3), @KDASET CHAR(9))
AS

-------------------------------------------------------------------------------------------------------------------------------
--DECLARE @UNITKEY CHAR(36), @KDTANS CHAR(3), @KDASET CHAR(9)
--SET @UNITKEY = '345_'
--SET @KDTANS = '202'
--SET @KDASET = '1.3.2.10.'
   
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#_KIB%')
--   DROP TABLE #_KIB
--IF EXISTS (SELECT NAME FROM TEMPDB..SYSOBJECTS  WHERE NAME LIKE '#KIB_PINDAHTANGAN%')
--   DROP TABLE #KIB_PINDAHTANGAN
   
-------------------------------------------------------------------------------------------------------------------------------

CREATE TABLE #_KIB (IDBRG CHAR(10),UNITKEY CHAR(36),ASETKEY CHAR(15),URUTTRANS CHAR(10),NILAI MONEY,KDKON CHAR(2),KDKLAS CHAR(2),KDSTATUSASET CHAR(2),NOPENILAIAN VARCHAR(50))

DECLARE @ASETKEY CHAR(5), @KDKIB CHAR(2)
SET @ASETKEY = (REPLACE(@KDASET,'.',''))
SET @KDKIB = (SELECT J.KDKIB FROM JNSKIBASET J WHERE J.ASETKEY=13210)

IF (@KDTANS IN('201','204')) --TRANSAKSI DIJUAL/MUSNAH
BEGIN
	INSERT INTO #_KIB
	SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET, A.NOPENILAIAN
	FROM ASET_PENILAIANDET A
	INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
	INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
				FROM ASET_KIBADET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
	INNER JOIN ASET_KIBADET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY AND AK.ASETKEY = X.ASETKEY
	WHERE A.UNITKEY=@UNITKEY AND A.KDTANS=@KDTANS
	UNION ALL
	SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET, A.NOPENILAIAN
	FROM ASET_PENILAIANDET A
	INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
	INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
				FROM ASET_KIBBDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
	INNER JOIN ASET_KIBBDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY AND AK.ASETKEY = X.ASETKEY
	WHERE A.UNITKEY=@UNITKEY AND A.KDTANS=@KDTANS
	UNION ALL
	SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET, A.NOPENILAIAN
	FROM ASET_PENILAIANDET A
	INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
	INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
				FROM ASET_KIBCDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
	INNER JOIN ASET_KIBCDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY AND AK.ASETKEY = X.ASETKEY
	WHERE A.UNITKEY=@UNITKEY AND A.KDTANS=@KDTANS
	UNION ALL
	SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET, A.NOPENILAIAN
	FROM ASET_PENILAIANDET A
	INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
	INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
				FROM ASET_KIBDDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
	INNER JOIN ASET_KIBDDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY AND AK.ASETKEY = X.ASETKEY
	WHERE A.UNITKEY=@UNITKEY AND A.KDTANS=@KDTANS
	UNION ALL
	SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET, A.NOPENILAIAN
	FROM ASET_PENILAIANDET A
	INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
	INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
				FROM ASET_KIBEDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
	INNER JOIN ASET_KIBEDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY AND AK.ASETKEY = X.ASETKEY
	WHERE A.UNITKEY=@UNITKEY AND A.KDTANS=@KDTANS
	UNION ALL
	SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, X.URUTTRANS, X.NILAI, AK.KDKON, AK.KDKLAS, AK.KDSTATUSASET, A.NOPENILAIAN
	FROM ASET_PENILAIANDET A
	INNER JOIN ASET_REKLASDET AS B ON B.UNITKEY = A.UNITKEY AND B.ASETKEY = A.ASETKEY AND B.TAHUN = A.TAHUN AND B.NOREG = A.NOREG AND B.IDBRG = A.IDBRG
	INNER JOIN (SELECT IDBRG, UNITKEY, ASETKEY, MAX(CAST(URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(KDTANS,1)=2 THEN -1*NILAI ELSE NILAI END)) AS NILAI 
				FROM ASET_KIBGDET WHERE KDSTATUSASET IN ('08','09') GROUP BY IDBRG, UNITKEY, ASETKEY) X ON X.IDBRG = A.IDBRG AND X.UNITKEY = A.UNITKEY AND X.ASETKEY = B.ASETKEY2
	INNER JOIN ASET_KIBGDET AK ON AK.IDBRG = X.IDBRG AND AK.URUTTRANS = X.URUTTRANS AND AK.UNITKEY = X.UNITKEY AND AK.ASETKEY = X.ASETKEY
	WHERE A.UNITKEY=@UNITKEY AND A.KDTANS=@KDTANS
END
ELSE IF(@KDTANS NOT IN('201','204'))
BEGIN
	IF (@KDKIB = '01')
	BEGIN
		INSERT INTO #_KIB
		SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, X.URUTTRANS, X.NILAI, B.KDKON, B.KDKLAS, B.KDSTATUSASET, NULL
		FROM (
		SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(A.KDTANS,1)=2 THEN -1*A.NILAI ELSE A.NILAI END)) AS NILAI
		FROM ASET_KIBADET A WHERE A.UNITKEY=@UNITKEY AND LEFT(A.ASETKEY,5)=@ASETKEY  GROUP BY A.IDBRG, A.UNITKEY, A.ASETKEY ) X
		LEFT JOIN ASET_KIBADET B ON B.IDBRG = X.IDBRG AND B.URUTTRANS = X.URUTTRANS AND B.UNITKEY = X.UNITKEY AND B.ASETKEY = X.ASETKEY
		WHERE X.IDBRG IN(SELECT AP.IDBRG FROM ASET_PENILAIANDET AP WHERE AP.UNITKEY=@UNITKEY AND 
		LEFT(AP.ASETKEY,5)=@ASETKEY)
	END
	ELSE IF (@KDKIB = '02')
	BEGIN
		INSERT INTO #_KIB
		SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, X.URUTTRANS, X.NILAI, B.KDKON, B.KDKLAS, B.KDSTATUSASET, NULL
		FROM (
		SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(A.KDTANS,1)=2 THEN -1*A.NILAI ELSE A.NILAI END)) AS NILAI
		FROM ASET_KIBBDET A WHERE A.UNITKEY=@UNITKEY AND LEFT(A.ASETKEY,5)=@ASETKEY 
		GROUP BY A.IDBRG, A.UNITKEY, A.ASETKEY ) X
		LEFT JOIN ASET_KIBBDET B ON B.IDBRG = X.IDBRG AND B.URUTTRANS = X.URUTTRANS AND B.UNITKEY = X.UNITKEY AND B.ASETKEY = X.ASETKEY
		WHERE X.IDBRG IN(SELECT AP.IDBRG FROM ASET_PENILAIANDET AP WHERE AP.UNITKEY=@UNITKEY AND 
		LEFT(AP.ASETKEY,5)=@ASETKEY)
	END
	ELSE IF (@KDKIB = '03')
	BEGIN
		INSERT INTO #_KIB
		SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, X.URUTTRANS, X.NILAI, B.KDKON, B.KDKLAS, B.KDSTATUSASET, NULL
		FROM (
		SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(A.KDTANS,1)=2 THEN -1*A.NILAI ELSE A.NILAI END)) AS NILAI
		FROM ASET_KIBCDET A WHERE A.UNITKEY=@UNITKEY AND LEFT(A.ASETKEY,5)=@ASETKEY GROUP BY A.IDBRG, A.UNITKEY, A.ASETKEY ) X
		LEFT JOIN ASET_KIBCDET B ON B.IDBRG = X.IDBRG AND B.URUTTRANS = X.URUTTRANS AND B.UNITKEY = X.UNITKEY AND B.ASETKEY = X.ASETKEY
		WHERE X.IDBRG IN(SELECT AP.IDBRG FROM ASET_PENILAIANDET AP WHERE AP.UNITKEY=@UNITKEY AND 
		LEFT(AP.ASETKEY,5)=@ASETKEY)
	END
	ELSE IF (@KDKIB = '04')
	BEGIN
		INSERT INTO #_KIB
		SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, X.URUTTRANS, X.NILAI, B.KDKON, B.KDKLAS, B.KDSTATUSASET, NULL
		FROM (
		SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(A.KDTANS,1)=2 THEN -1*A.NILAI ELSE A.NILAI END)) AS NILAI
		FROM ASET_KIBDDET A WHERE A.UNITKEY=@UNITKEY AND LEFT(A.ASETKEY,5)=@ASETKEY GROUP BY A.IDBRG, A.UNITKEY, A.ASETKEY ) X
		LEFT JOIN ASET_KIBDDET B ON B.IDBRG = X.IDBRG AND B.URUTTRANS = X.URUTTRANS AND B.UNITKEY = X.UNITKEY AND B.ASETKEY = X.ASETKEY
		WHERE X.IDBRG IN(SELECT AP.IDBRG FROM ASET_PENILAIANDET AP WHERE AP.UNITKEY=@UNITKEY AND 
		LEFT(AP.ASETKEY,5)=@ASETKEY)
	END
	ELSE IF (@KDKIB = '05')
	BEGIN
		INSERT INTO #_KIB
		SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, X.URUTTRANS, X.NILAI, B.KDKON, B.KDKLAS, B.KDSTATUSASET, NULL
		FROM (
		SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(A.KDTANS,1)=2 THEN -1*A.NILAI ELSE A.NILAI END)) AS NILAI
		FROM ASET_KIBEDET A WHERE A.UNITKEY=@UNITKEY AND LEFT(A.ASETKEY,5)=@ASETKEY GROUP BY A.IDBRG, A.UNITKEY, A.ASETKEY ) X
		LEFT JOIN ASET_KIBEDET B ON B.IDBRG = X.IDBRG AND B.URUTTRANS = X.URUTTRANS AND B.UNITKEY = X.UNITKEY AND B.ASETKEY = X.ASETKEY
		WHERE X.IDBRG IN(SELECT AP.IDBRG FROM ASET_PENILAIANDET AP WHERE AP.UNITKEY=@UNITKEY AND 
		LEFT(AP.ASETKEY,5)=@ASETKEY)
	END
	ELSE IF (@KDKIB = '07')
	BEGIN
		INSERT INTO #_KIB
		SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, X.URUTTRANS, X.NILAI, B.KDKON, B.KDKLAS, B.KDSTATUSASET, NULL
		FROM (
		SELECT A.IDBRG, A.UNITKEY, A.ASETKEY, MAX(CAST(A.URUTTRANS AS INT)) URUTTRANS, SUM((CASE WHEN LEFT(A.KDTANS,1)=2 THEN -1*A.NILAI ELSE A.NILAI END)) AS NILAI
		FROM ASET_KIBGDET A WHERE A.UNITKEY=@UNITKEY AND LEFT(A.ASETKEY,5)=@ASETKEY GROUP BY A.IDBRG, A.UNITKEY, A.ASETKEY ) X
		LEFT JOIN ASET_KIBGDET B ON B.IDBRG = X.IDBRG AND B.URUTTRANS = X.URUTTRANS AND B.UNITKEY = X.UNITKEY AND B.ASETKEY = X.ASETKEY
		WHERE X.IDBRG IN(SELECT AP.IDBRG FROM ASET_PENILAIANDET AP WHERE AP.UNITKEY=@UNITKEY AND 
		LEFT(AP.ASETKEY,5)=@ASETKEY)
	END
END


SELECT X.IDBRG, X.UNITKEY, X.ASETKEY, DA.KDASET, DA.NMASET, AB.TAHUN, AB.NOREG, X.NILAI, 
	ISNULL(DA.UMEKO,0) UMEKO, AB.KDPEMILIK, JM.NMPEMILIK, X.KDKON, K.NMKON, AB.ASALUSUL, AB.PENGGUNA, AB.KDSATUAN, S.NMSATUAN, 
	CASE AB.KDKIB 
	WHEN '03' THEN (case AB.BERTINGKAT WHEN 1 THEN 'Bertingkat' ELSE '' END)+(case AB.BETON WHEN 1 THEN ', Beton' ELSE '' END) 
	WHEN '04' THEN AB.KONSTRUKSI
	WHEN '05' THEN AB.SPESIFIKASI
	WHEN '06' THEN (case AB.BERTINGKAT WHEN 1 THEN 'Bertingkat' ELSE '' END)+(case AB.BETON WHEN 1 THEN ', Beton' ELSE '' END) 
	WHEN '07' THEN AB.SPESIFIKASI
	ELSE AB.MERKTYPE
	END AS SPESIFIKASI, 
	CASE AB.KDKIB 
	WHEN '01' THEN 'Luas tanah: '+CAST(ISNULL(AB.LUASTNH,0) AS VARCHAR)
	WHEN '03' THEN 'Luas tanah: '+CAST(ISNULL(AB.LUASTNH,0) AS VARCHAR)+' '+' Luas lantai: '+CAST(ISNULL(AB.LUASLT,0) AS VARCHAR)
	WHEN '04' THEN 'Panjang: '+CAST(ISNULL(AB.PANJANG,0) AS VARCHAR)+' Lebar: '+CAST(ISNULL(AB.LEBAR,0) AS VARCHAR)+' Luas: '+CAST(ISNULL(AB.LUAS,0) AS VARCHAR)
	WHEN '06' THEN 'Luas lantai: '+CAST(ISNULL(AB.LUASLT,0) AS VARCHAR)
	ELSE AB.UKURAN
	END AS UKURAN,
	AB.BAHAN, 
	CASE AB.KDKIB 
	WHEN '01' THEN AB.NOFIKAT
	WHEN '02' THEN ISNULL(AB.NOPABRIK,'')+' / '+ISNULL(AB.NORANGKA,'')+' / '+ISNULL(AB.NOPOLISI,'')+' / '+ISNULL(AB.NOBPKB,'')+' / '+ISNULL(AB.NOMESIN,'')
	WHEN '03' THEN AB.NODOKGDG
	WHEN '04' THEN AB.NODOKJIJ
	WHEN '06' THEN AB.NODOKKDP
	ELSE NULL 
	END AS NOSERTIFIKAT,
	AB.ALAMAT, AB.KET, X.KDKLAS, JK.URAIKLAS, X.KDSTATUSASET, AB.KDKIB, J.NMKIB, X.NOPENILAIAN
INTO #KIB_PINDAHTANGAN
FROM #_KIB X
	LEFT JOIN ASET_KIBSPESIFIKASI AB ON AB.IDBRG = X.IDBRG AND AB.UNITKEY = X.UNITKEY AND AB.ASETKEY = X.ASETKEY
	LEFT JOIN ASET_KIB AK ON AK.IDBRG = X.IDBRG
	LEFT JOIN DAFTASET DA ON DA.ASETKEY = X.ASETKEY
	LEFT JOIN JMILIK JM ON JM.KDPEMILIK = AB.KDPEMILIK
	LEFT JOIN KONASET K ON K.KDKON = X.KDKON
	LEFT JOIN SATUAN S ON S.KDSATUAN = AB.KDSATUAN
	LEFT JOIN JKLAS JK ON JK.KDKLAS = X.KDKLAS
	LEFT JOIN JNSKIB J ON J.KDKIB = AB.KDKIB
WHERE AK.STATUSPENGGUNA = '1' AND X.NILAI > 0


SELECT K.*
FROM #KIB_PINDAHTANGAN K
LEFT JOIN ASET_PINDAHTANGANDET AK ON AK.IDBRG = K.IDBRG AND AK.UNITKEY = K.UNITKEY
LEFT JOIN ASET_HAPUSSKDET AP ON AP.IDBRG = K.IDBRG AND AP.UNITKEY = K.UNITKEY
--WHERE AK.NOPINDAHTANGAN IS NULL AND AP.NOSKHAPUS IS NULL
ORDER BY K.KDASET, K.TAHUN, K.NOREG