    .segitigapink
    {
      background-image: url(Icons/segitigapink.png) !important;
    }
    .segitigakuning
    {
      background-image: url(Icons/segitigakuning.png) !important;
    }
    .segitigabiru
    {
      background-image: url(Icons/segitigabiru.png) !important;
    }
    .buletpink
    {
      background-image: url(Icons/buletpink.png) !important;
    }
    .buletkuning
    {
      background-image: url(Icons/buletkuning.png) !important;
    }
    .buletbiru
    {
      background-image: url(Icons/buletbiru.png) !important;
    }
    .kotakpink
    {
      background-image: url(Icons/kotakpink.png) !important;
    }
    .kotakkuning
    {
      background-image: url(Icons/kotakkuning.png) !important;
    }
    .kotakbiru
    {
      background-image: url(Icons/kotakbiru.png) !important;
    }
    .kupatpink
    {
      background-image: url(Icons/kupatpink.png) !important;
    }
